
* {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
}

#form_container {
  border: 3px solid #f66e23;
  padding-left: 20px;
}

#library_title {
  color:#f66e23;
}

form {
  display: flex;
  flex-direction: column;
}



/* Following gets rid of default styling        https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
button, input, select {
    font-family: inherit;
    font-size: 100%;
}
input {
    appearance: none;
} */

/* You can style an input’s placeholder text with the ::placeholder pseudo-element:
blue placeholder on email fields
input[type="email"]::placeholder {
  color: blue;
} */


/* idea: use position syicky on header */