
:root {
  --select-border: #f66e23;
  --select-focus: #f66d2350;
  --select-arrow: var(--select-border);
}
* {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#form_container {
  border: 3px solid #f66e23;
  padding: 30px;
}

#library_title {
  color:#f66e23;
  font-size: 2.5em;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

label, select {
  font-size: 1.5em;
}

label>span {
  color:#f66e23;
}

select {
  /* https://moderncss.dev/custom-select-styles-with-pure-css/ */
   /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
   /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  /* Remove focus outline, will add on alternate element */
  outline: none;

  /* Stack above custom arrow */
  z-index: 1;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fefefe;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

  display: grid;
  /* to allow clip-path arrow width */
  grid-template-areas: "select";
  /* to allign arrow */
   align-items: center;

   position: relative;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select:after {
  grid-area: select;
  justify-self: end;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

button {
  border: 1px solid #f66e23;
  background-color: #e0e3e2;
  border-radius: 20px;
  padding: 8px 20px;
  width: fit-content;
}

input {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fefefe;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}


/* Following gets rid of default styling        https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
button, input, select {
    font-family: inherit;
    font-size: 100%;
}
input {
    appearance: none;
} */

/* You can style an input’s placeholder text with the ::placeholder pseudo-element:
blue placeholder on email fields
input[type="email"]::placeholder {
  color: blue;
} */


/* idea: use position syicky on header */